#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 650px;
  background-color: rgb(45, 29, 96);
  background-color: #5b0ae7;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 30px;
  overflow: hidden;
}

/* YEARLY SALARY QUESTION CONTAINER*/
#salary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
#question {
  font-size: 25px;
}
#answer {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#answer input {
  margin-left: 10px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 10px;
}
button {
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(45, 29, 96);
  color: white;
  font-size: 15px;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  color: #f97046;
}

/* SALARY VALUES CONFIRM CONTAINER*/
#salaryConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
#salaryValues {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 15px;
}

/* BILLS QUESTION CONTAINER */
#expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

/* BILLS CONFIRM CONTAINER */
#billsConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

/* TAX QUESTION CONTAINER */
#tax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
#answer a {
  margin-bottom: 10px;
  font-size: 15px;
  color: #df2da3;
}

/* TAX CONFIRM CONTAINER */
#taxConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

/* ALL DONE CONTAINER */
#allDone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
#allDone h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*  */

/* MAIN APP */
#mainApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

#screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 8px;
  background-color: white;
  color: #5b0ae7;
  width: 500px;
  height: 200px;
  border-radius: 10px 10px 0 0;
  border: 1px solid white;
  font-size: 40px;
}
#originalTotal {
  color: rgb(153, 140, 167);
  font-size: 20px;
}

/* ALLOCATION COMPONENT */
#allocationParent {
  overflow: hidden;
  width: 500px;
}
#allocationContainer {
  height: 300px;
  width: 500px;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
#allocation {
  width: 500px;
  height: 30px;
  background-color: #350a7f;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border: 1px solid #350a7f;
}
#allocationTitle {
  font-size: 15px;
  font-weight: bold;
  width: 60%;
  margin-left: 10px;
}
#allocationPercent {
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
  width: 10%;
}
#allocationAmount {
  font-size: 15px;
  font-weight: bold;
  margin-right: 15px;
}

/* CREATE ALLOCATION */
#createContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 500px;
  height: 30px;
}
#nameInput {
  width: 400px;
  height: 25px;
  border-radius: 8px 0 0 8px;
  border: 0.5px solid #350a7f;
}
#percentInput {
  margin-right: 5px;
  width: 23px;
  height: 25px;
  border-radius: 0 8px 8px 0;
  border: 0.5px solid #350a7f;
}
#showNum {
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}
#showNum:hover {
  cursor: pointer;
}
#createBtn {
  margin-bottom: 12px;
}

#deleteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
}
